AIAA_KICKSTARTER/Workflows/400 Essential AI Agent Data Flow/[Completed] Essential Flow 401 - if.json
{
  "name": "[Completed] Essential Flow 401 - if",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -16
      ],
      "id": "ffb27a58-888d-4bd8-892d-19d0732cf4da",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -16
      ],
      "id": "5017b8e8-cc67-4017-a178-4f82f4bd3c3d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3f6a52c-d053-481d-a210-058d2def84ca",
              "leftValue": "={{ $json['Lead Status'] }}",
              "rightValue": "Hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        -16
      ],
      "id": "45c5225b-213f-446e-a8fb-0716c5557126",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1025130370,
          "mode": "list",
          "cachedResultName": "Hot Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=1025130370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Location": "={{ $json.Location }}",
            "Lead Status": "={{ $json['Lead Status'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -112
      ],
      "id": "9771db94-1f4d-431c-a9d2-39799caae104",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "content": "### The lead types are *hot*, *warm*, and *cold*.\nThe if node can only filter out of two types",
        "height": 128,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        48
      ],
      "typeVersion": 1,
      "id": "256a53bb-318b-44ee-aab7-f0146c2982ef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Pass values based on an if condition",
        "height": 272,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -112
      ],
      "typeVersion": 1,
      "id": "7192e82e-99a8-46f0-97dc-9405ec9306c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If a lead is a hot lead, add it to a different sheet",
        "height": 432,
        "width": 1120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -176
      ],
      "typeVersion": 1,
      "id": "dfde06fe-84e4-46a0-915e-a75fa48eafdb",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b5882a98-c3b7-4185-baa5-ae6bca2b39c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "gTqZcq7X7IEgNV4A",
  "tags": []
}