AIAA_KICKSTARTER/Workflows/400 Essential AI Agent Data Flow/[Completed] Essential Flow 402 - Switch.json
{
  "name": "[Completed] Essential Flow 402 - Switch",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        80
      ],
      "id": "1d7a74b4-4ae1-4697-bee9-cdc9097b4c4e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        80
      ],
      "id": "36ea79e6-79f8-417a-a94d-80564f935d9c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Lead Status'] }}",
                    "rightValue": "Hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2f286971-08e1-4eaa-91c2-064445c3a3e3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bfb7edef-8b1e-4a9f-a085-fed7688a619d",
                    "leftValue": "={{ $json['Lead Status'] }}",
                    "rightValue": "Warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0da2e7e-e030-4213-88db-36d318caa076",
                    "leftValue": "={{ $json['Lead Status'] }}",
                    "rightValue": "Cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        176,
        64
      ],
      "id": "b88a8014-51fe-4b1b-9626-80a9af0a6a23",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1025130370,
          "mode": "list",
          "cachedResultName": "Hot Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=1025130370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Location": "={{ $json.Location }}",
            "Lead Status": "={{ $json['Lead Status'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -112
      ],
      "id": "4f097df9-0606-4392-9d94-0c7a7651f1f8",
      "name": "Hot Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1997195773,
          "mode": "list",
          "cachedResultName": "Warm leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=1997195773"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Location": "={{ $json.Location }}",
            "Lead Status": "={{ $json['Lead Status'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        80
      ],
      "id": "a8bb5bbb-316d-4452-bc91-93c43cc692b0",
      "name": "Warm Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1460545270,
          "mode": "list",
          "cachedResultName": "Cold Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=1460545270"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Location": "={{ $json.Location }}",
            "Lead Status": "={{ $json['Lead Status'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        272
      ],
      "id": "41e0868a-17b4-4c44-869c-60d7886701c4",
      "name": "Cold Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "content": "### Filter values based on two or more conditions using the switch node",
        "height": 368,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -96
      ],
      "typeVersion": 1,
      "id": "b0773e3a-0d62-4da7-aca3-f8f5dcecdd97",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Divide all the different types of leads into separate sheets",
        "height": 592,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -144
      ],
      "typeVersion": 1,
      "id": "8ab894f1-5da2-43e0-86ee-60e292423fc5",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Hot Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warm Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cfe3e650-14a6-471f-99c9-c53b00c848d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "fmqcA3RRpBBJ3K0O",
  "tags": []
}