AIAA_KICKSTARTER/Templates/300 Essential AI Agent Data Transformation/[TEST] Essential Data Transformation 301 - JSON Data.json
{
  "name": "[TEST] Essential Data Transformation 301 - JSON Data",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Success</title>\n</head>\n<body style=\"margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background-color: #f0f2f5; display: flex; align-items: center; justify-content: center; height: 100vh;\">\n\n    <!-- The main success card -->\n    <div style=\"background-color: #ffffff; padding: 40px 50px; border-radius: 12px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1); text-align: center; max-width: 400px; margin: 20px;\">\n\n        <!-- Circular Green Checkmark -->\n        <div style=\"width: 100px; height: 100px; background-color: #28a745; border-radius: 50%; margin: 0 auto 25px auto; display: flex; align-items: center; justify-content: center;\">\n            <span style=\"color: white; font-size: 60px; line-height: 1;\">✔</span>\n        </div>\n\n        <!-- Main Text -->\n        <h1 style=\"font-size: 36px; font-weight: 600; color: #333; margin: 0 0 10px 0;\">\n            Success!\n        </h1>\n\n        <!-- Call to Action Text & Link -->\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            To go further, you can\n         </p>\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            <a href=\"https://n8n.io/creators/lucaspeyrin\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #007bff; text-decoration: none; font-weight: 500;\">check out more templates</a>.\n        </p>\n\n    </div>\n\n</body>\n</html>"
      },
      "id": "0d8ac825-17b7-4875-b720-782257318214",
      "name": "🎉 SUCCESS 🎉",
      "type": "n8n-nodes-base.html",
      "position": [
        -5536,
        992
      ],
      "notesInFlow": true,
      "typeVersion": 1.2,
      "notes": "Well done! You're awesome\n\n© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 2: Number\n\nModify the **\"Test - Number\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `product_id` with the number `12345`\n- `price` with the decimal number `99.99`\n\n\n![Numbers](https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHE0eWdiMzg5bG4ya3U0am05MHgweGp3dXE2OWtvZGpwdng2ZzhxayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JBRR744Ozd0xLhksLw/giphy.gif)",
        "height": 508,
        "width": 300,
        "color": 6
      },
      "id": "306ae68a-a05c-4e34-bbc2-2f2659448918",
      "name": "Instruction - Number",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9776,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Numbers must not be in quotes. Check both the integer and the decimal value.",
        "height": 320,
        "color": 7
      },
      "id": "2dd185d9-4e99-4a11-ab6d-c153adc228a8",
      "name": "Feedback Incorrect2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Step 3: Boolean\n\nModify the **\"Test - Boolean\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `is_active` with the value `true`\n- `has_permission` with the value `false`\n\n\n![Boolean](https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWdzOGFzY2c1enhmZmFwY2s5cmxmaDJwMm1rbXZ3b2wxYmZzcTQ5diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/x2NtwIIIICGZXhDNrb/giphy.gif)",
        "height": 700,
        "width": 316,
        "color": 6
      },
      "id": "e4f12d52-a6e5-4be0-9f5d-cbc56e81d467",
      "name": "Instruction - Boolean",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8960,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"is_active\": ,\n  \"has_permission\": \n}\n",
        "options": {}
      },
      "id": "d0b4c139-a74c-4dd3-a231-add72196470a",
      "name": "Test - Boolean",
      "type": "n8n-nodes-base.set",
      "position": [
        -8848,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d4e5f6a7-8901-2345-6789-0abcdef12345",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.is_active }}",
              "rightValue": true
            },
            {
              "id": "e5f6a789-0123-4567-890a-bcdef1234567",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_permission }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "2dbb3ec7-4b22-40dc-9ae1-55f105d766da",
      "name": "Check - Boolean",
      "type": "n8n-nodes-base.if",
      "position": [
        -8592,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nNow for the `null` value.",
        "height": 272,
        "color": 7
      },
      "id": "31428e26-6a0d-43f4-91a0-dca080d47228",
      "name": "Feedback Correct3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8432,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c03f28a4-2747-4672-a9a0-24c1755cef3b",
      "name": "Success - Boolean",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -8368,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Boolean values are `true` or `false` and must be written without any quotes.",
        "height": 320,
        "color": 7
      },
      "id": "f087bbeb-050e-4ecc-bdbb-c82ac9fec2ba",
      "name": "Feedback Incorrect3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8432,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Boolean. Hint: Boolean values are `true` or `false` and must be written without any quotes."
      },
      "id": "935f04dd-56be-4d5c-a347-87242a4c632a",
      "name": "Error - Boolean",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -8368,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"is_active\": true,\n  \"has_permission\": false\n}\n",
        "options": {}
      },
      "id": "6caeb8c3-65eb-48e7-aba7-3b157cfa6c5d",
      "name": "Answer - Boolean",
      "type": "n8n-nodes-base.set",
      "position": [
        -8848,
        1328
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 4: Null\n\nModify the **\"Test - Null\"** node.\n\n**Task:** Create a JSON object with a key `middle_name` whose value is explicitly nothing, or `null`.\n\n\n![Null](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXF0NG9pYWw2OXRiZGV0bTA1MGoyY3h2MXNjaWY0a2Iydjc1eHh0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/05dgux7TEBbY4VxAlb/giphy.gif)",
        "height": 492,
        "width": 316,
        "color": 6
      },
      "id": "3acd75dd-0570-4b03-9444-2b05f9e7b651",
      "name": "Instruction - Null",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8144,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"middle_name\": \n}\n",
        "options": {}
      },
      "id": "8eeca2aa-4d2d-49fa-adf8-e0f375b0adee",
      "name": "Test - Null",
      "type": "n8n-nodes-base.set",
      "position": [
        -8032,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nExcellent. Time for arrays.",
        "height": 272,
        "color": 7
      },
      "id": "1e9f65f8-381b-4605-b693-c4cf731103b5",
      "name": "Feedback Correct4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7616,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1bee18df-14a8-4ba1-9148-84b0df62793c",
      "name": "Success - Null",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -7552,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Null. Hint: The `null` value represents 'nothing' and is written as `null` without quotes."
      },
      "id": "5c6e6764-0d3b-456a-b4c7-90c4d7d8027c",
      "name": "Error - Null",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -7552,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"middle_name\": null\n}\n",
        "options": {}
      },
      "id": "f40b7836-8caf-4520-8ea6-4ec10a0b5646",
      "name": "Answer - Null",
      "type": "n8n-nodes-base.set",
      "position": [
        -8032,
        1232
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 5: Array\n\nModify the **\"Test - Array\"** node.\n\n**Task:** Create a JSON object with a key `tags` which is an array containing:\n- The string `'n8n'`\n- The string `'automation'`\n- The number `2024`\n\n\n![Array](https://media1.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dmxsZzN2Y3o5NHRqdGk2eHRmdmoycmdiYjFqMW90eGY1c3c2aGQ3MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Iv6s8zUIyIfnXBp6B8/200.webp)",
        "height": 530,
        "width": 300,
        "color": 6
      },
      "id": "fc5d66dd-e1f1-4455-b364-e5fa8747f025",
      "name": "Instruction - Array",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7296,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tags\": \n}\n",
        "options": {}
      },
      "id": "17cca51e-b04c-4ce9-a107-eeb346a1d5e2",
      "name": "Test - Array",
      "type": "n8n-nodes-base.set",
      "position": [
        -7184,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b0123456-7890-abcd-ef12-345678901234",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[0] }}",
              "rightValue": "n8n"
            },
            {
              "id": "c1234567-890a-bcde-f123-456789012345",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[1] }}",
              "rightValue": "automation"
            },
            {
              "id": "d2345678-90ab-cdef-1234-567890123456",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.tags[2] }}",
              "rightValue": 2024
            }
          ]
        },
        "options": {}
      },
      "id": "5f240e8d-8752-4c8c-afbd-32169d03b3f0",
      "name": "Check - Array",
      "type": "n8n-nodes-base.if",
      "position": [
        -6944,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nAlmost there. Last one: objects.",
        "height": 272,
        "color": 7
      },
      "id": "1a66d211-bad3-49c2-8aa5-1fb979e9457a",
      "name": "Feedback Correct5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6784,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c576ca49-23f9-411f-9361-b68c0a01c9ed",
      "name": "Success - Array",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -6720,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`.",
        "height": 320,
        "color": 7
      },
      "id": "e982f9da-2030-4512-9651-65d43feb0314",
      "name": "Feedback Incorrect5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6784,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Array. Hint: Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`."
      },
      "id": "1245c614-3b66-49d5-848c-5068a35baa7c",
      "name": "Error - Array",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -6720,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"tags\": [\"n8n\", \"automation\", 2024]\n}\n",
        "options": {}
      },
      "id": "b7079b19-9ee0-44cf-9e89-79fb8eb996b6",
      "name": "Answer - Array",
      "type": "n8n-nodes-base.set",
      "position": [
        -7184,
        1216
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### Step 6: Object\n\nModify the **\"Test - Object\"** node.\n\n**Task:** Create a JSON object with a key `user`. Its value should be *another object* with two keys:\n- `name` (string: `'Alex'`)\n- `id` (number: `987`)\n\n\n![Object](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmlwNHlld3ZpbjF2eGg1Z3hndGxpN3RsMDQ5MmYyNDh6cjE1YWN3OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AiPHa8Drgklos/giphy.gif)",
        "height": 482,
        "width": 316,
        "color": 6
      },
      "id": "b5724b86-d639-4230-bd72-29cded4c4e1d",
      "name": "Instruction - Object",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6496,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": \n}\n",
        "options": {}
      },
      "id": "0305a95c-62b7-456c-b2da-38fb72e00c40",
      "name": "Test - Object",
      "type": "n8n-nodes-base.set",
      "position": [
        -6384,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1234567-890a-bcde-f123-456789012345",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user.name }}",
              "rightValue": "Alex"
            },
            {
              "id": "b2345678-90ab-cdef-1234-567890123456",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.user.id }}",
              "rightValue": 987
            }
          ]
        },
        "options": {}
      },
      "id": "08c7b08d-55fa-4bdf-a862-53ca5058f9e5",
      "name": "Check - Object",
      "type": "n8n-nodes-base.if",
      "position": [
        -6128,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "✅ **YOU DID IT!**",
        "height": 240,
        "color": 7
      },
      "id": "98bd73f2-04ea-4ec9-94d7-becfdb8586e7",
      "name": "Feedback Correct6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5968,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "86881c3f-2fc6-44ae-8c67-f41b03f25910",
      "name": "Success - Object",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -5904,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** Remember to wrap the inner object in curly braces `{}` and check the data types inside it.",
        "height": 320,
        "color": 7
      },
      "id": "6c49d775-f6ef-4cb5-9165-35190704703f",
      "name": "Feedback Incorrect6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5968,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Object. Hint: Remember to wrap the inner object in curly braces `{}` and check the data types inside it."
      },
      "id": "ca654dc2-64a2-4fd2-a094-b2fff1dfc3b5",
      "name": "Error - Object",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -5904,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": {\n    \"name\": \"Alex\",\n    \"id\": 987\n  }\n}\n",
        "options": {}
      },
      "id": "8769cd7b-29c5-4386-9f18-f56013c6fa84",
      "name": "Answer - Object",
      "type": "n8n-nodes-base.set",
      "position": [
        -6384,
        1216
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "🎉 **Congratulations! You've passed the test!**\n\nYou have successfully demonstrated your understanding of all the basic JSON data types.\n\nYou are now ready to work with data in n8n.\n\n-- Well done! --",
        "height": 576,
        "width": 416,
        "color": 4
      },
      "id": "b9c47504-2be7-43a8-a97b-6b9732703367",
      "name": "Congratulations!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5696,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Step 1: The String\n\nModify the **\"Test - String\"** node below.\n\n**Task:** Create a JSON object with a single key named `my_string` whose value is the text `I love automation`.",
        "height": 396,
        "width": 300,
        "color": 6
      },
      "id": "c2ecfe4b-5271-4e75-b68d-49c086db1828",
      "name": "Instruction - String1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10592,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nLet's move on to numbers.",
        "height": 272,
        "color": 7
      },
      "id": "15d1ba79-7eda-4c87-843d-265b6ecbbe7d",
      "name": "Feedback Correct1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10080,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** A string value must always be enclosed in double quotes `\" \"`. Check for typos!",
        "height": 320,
        "color": 7
      },
      "id": "c51f4a93-269e-4373-9081-1d81924ac898",
      "name": "Feedback Incorrect1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10080,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## JSON Knowledge Test\n\nWelcome to the practical test! The goal is to check your understanding of the JSON concepts you've just learned.\n\n**How to use this test:**\n1.  For each step, read the instructions on the purple sticky note.\n2.  Modify the corresponding **\"Test - ...\"** node by writing the correct JSON in the text area.\n3.  Click **\"Execute Workflow\"** to check your answers.\n4.  A green path means a correct answer, a red path means it's incorrect. Keep trying until the path turns green!\n\n\nGood luck!",
        "height": 504,
        "width": 460
      },
      "id": "94ef4208-9feb-4220-81d6-a1be55b15748",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11088,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "✅ **Correct!**\n\nLet's move on to booleans.",
        "height": 272,
        "color": 7
      },
      "id": "50ae59e9-f442-4a4f-8819-94a1900eaa2f",
      "name": "Feedback Correct7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "❌ **Incorrect.**\n\n**Hint:** The `null` value represents 'nothing' and is written as `null` without quotes.",
        "height": 320,
        "color": 7
      },
      "id": "3081f0ca-e1c3-45c3-b7fb-131c5c6a4451",
      "name": "Feedback Incorrect7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7616,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Number** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "5919ad93-32e7-4a3e-8438-33ee12966458",
      "name": "Answer Note - Number",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9776,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Boolean** step. You can use it as a reference if you get stuck.",
        "height": 288,
        "width": 320,
        "color": 7
      },
      "id": "8c044497-09a5-487b-89f4-18656767a69d",
      "name": "Answer Note - Boolean",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8960,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Null** step. You can use it as a reference if you get stuck.",
        "height": 288,
        "width": 320,
        "color": 7
      },
      "id": "8fdf86ef-d4d1-4ddc-b26b-a6366d54de8d",
      "name": "Answer Note - Null",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8144,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Array** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "6de29a74-bf6a-443f-9b7e-7f19bf7ac5dd",
      "name": "Answer Note - Array",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7296,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **Object** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 320,
        "color": 7
      },
      "id": "3c3de62b-f5f8-4311-9400-19f5ffe47f6f",
      "name": "Answer Note - Object",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6496,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"my_string\": \n}\n",
        "options": {}
      },
      "id": "aae79dfa-8b93-470d-a6e0-b9ed39829bb5",
      "name": "Test - String",
      "type": "n8n-nodes-base.set",
      "position": [
        -10496,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ac1af5c-2769-42f8-9df7-ec092d2fec05",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.my_string.trim().toLowerCase() }}",
              "rightValue": "i love automation"
            }
          ]
        },
        "options": {}
      },
      "id": "08e64954-3d8b-4e87-98f0-34d90834ee31",
      "name": "Check - String",
      "type": "n8n-nodes-base.if",
      "position": [
        -10240,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "e8c00805-8990-4243-a013-2202e5cbe3ee",
      "name": "Success - String",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -10016,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect String. Hint: A string value must always be enclosed in double quotes `\" \"`. Check for typos!"
      },
      "id": "c8695b10-14c5-487a-bed7-3803e341e66e",
      "name": "Error - String",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -10016,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"product_id\": ,\n  \"price\": \n}\n",
        "options": {}
      },
      "id": "d29b4a3c-ad78-48de-b00a-110a67836dbc",
      "name": "Test - Number",
      "type": "n8n-nodes-base.set",
      "position": [
        -9680,
        880
      ],
      "typeVersion": 3.4,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ac1af5c-2769-42f8-9df7-ec092d2fec05",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.product_id }}",
              "rightValue": 12345
            },
            {
              "id": "7c1937fa-393c-4b5c-88f5-788df2f99295",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.price }}",
              "rightValue": 99.99
            }
          ]
        },
        "options": {}
      },
      "id": "eee89664-4afd-4f06-84e8-e2d32f5e1ff0",
      "name": "Check - Number",
      "type": "n8n-nodes-base.if",
      "position": [
        -9424,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "errorMessage": "Incorrect Number. Hint: Numbers must not be in quotes. Check both the integer and the decimal value."
      },
      "id": "fbaf9f36-22a3-47c8-9bdd-d125f3d2d698",
      "name": "Error - Number",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -9200,
        1104
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"product_id\": 12345,\n  \"price\": 99.99\n}\n",
        "options": {}
      },
      "id": "4aafc36f-e84b-46a4-a0b2-7cc7571024ac",
      "name": "Answer - Number",
      "type": "n8n-nodes-base.set",
      "position": [
        -9680,
        1232
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"my_string\": \"I love automation\"\n}\n",
        "options": {}
      },
      "id": "911e67dc-dcc8-4ad7-8681-b030f8c697ea",
      "name": "Answer - String",
      "type": "n8n-nodes-base.set",
      "position": [
        -10496,
        1216
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "💡 **Answer Key**\n\nThis node contains the correct JSON for the **String** step. You can use it as a reference if you get stuck.",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "id": "d7ece480-a500-40bd-8967-94419dbd4114",
      "name": "Answer Note - String",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10592,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a534b9aa-9e6e-4abb-afac-b4f83274ab0d",
      "name": "Success - Number",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -9200,
        768
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {},
      "id": "42b15bd2-ee50-4682-84f5-cf9695db20da",
      "name": "Start Test!",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -10832,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b0123456-7890-abcd-ef12-345678901234",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.middle_name }}",
              "rightValue": "n8n"
            }
          ]
        },
        "options": {}
      },
      "id": "25a8ddcf-8cae-41d5-8fe4-1c534a06c849",
      "name": "Check - Null",
      "type": "n8n-nodes-base.if",
      "position": [
        -7776,
        880
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Test!": {
      "main": [
        [
          {
            "node": "Test - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Null": {
      "main": [
        [
          {
            "node": "Check - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Null": {
      "main": [
        [
          {
            "node": "Success - Null",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Array": {
      "main": [
        [
          {
            "node": "Check - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Array": {
      "main": [
        [
          {
            "node": "Success - Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Number": {
      "main": [
        [
          {
            "node": "Check - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Object": {
      "main": [
        [
          {
            "node": "Check - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - String": {
      "main": [
        [
          {
            "node": "Check - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Number": {
      "main": [
        [
          {
            "node": "Success - Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Object": {
      "main": [
        [
          {
            "node": "Success - Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - String": {
      "main": [
        [
          {
            "node": "Success - String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Null": {
      "main": [
        [
          {
            "node": "Test - Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test - Boolean": {
      "main": [
        [
          {
            "node": "Check - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check - Boolean": {
      "main": [
        [
          {
            "node": "Success - Boolean",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Array": {
      "main": [
        [
          {
            "node": "Test - Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Number": {
      "main": [
        [
          {
            "node": "Test - Boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Object": {
      "main": [
        [
          {
            "node": "🎉 SUCCESS 🎉",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - String": {
      "main": [
        [
          {
            "node": "Test - Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success - Boolean": {
      "main": [
        [
          {
            "node": "Test - Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a0e86778-b19e-4d81-ad35-66f73daeb0b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "2QmV8iXRvGjaD0Xg",
  "tags": []
}