AIAA_KICKSTARTER/Workflows/300 Essential AI Agent Data Transformation/[Completed] Essential Data Tranformation 303 - Filter.json
{
  "name": "[Completed] Essential Data Tranformation 303 - Filter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        48
      ],
      "id": "976397dc-fb47-4318-b84e-9d652e185fc2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        48
      ],
      "id": "96c4f49f-f8ba-4506-82f0-f8ae2129795d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86963ad1-0a12-46e8-bffd-3ae79102bb9f",
              "leftValue": "={{ $json['Lead Status'] }}",
              "rightValue": "Hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        176,
        48
      ],
      "id": "963b8f36-0d43-44ad-8832-fb4520e8ce43",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4",
          "mode": "list",
          "cachedResultName": "AIAAKS_Google_Sheets_CRUD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1025130370,
          "mode": "list",
          "cachedResultName": "Hot Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PHUlZU37Bxfn-sEjNhNPK56F_ueDo3AOXhF66V5ODX4/edit#gid=1025130370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Email": "={{ $json.Email }}",
            "Location": "={{ $json.Location }}",
            "Lead Status": "={{ $json['Lead Status'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        48
      ],
      "id": "71278434-2c94-4fbd-afbe-db67c7e8447c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0kpCoqMBvOIgPZKB",
          "name": "KN DSM Google Sheets - 2 DEC 2025"
        }
      }
    },
    {
      "parameters": {
        "content": "### How to filter values based on a certain criteria?",
        "height": 352,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -96
      ],
      "typeVersion": 1,
      "id": "3fa8b8f9-6289-47a3-9b2f-52cd8085c2d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Filter nodes only passes the values that satisfy the given conditions",
        "height": 320,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -80
      ],
      "typeVersion": 1,
      "id": "950eb8d6-bf5c-4659-b075-9d642891d965",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3dacbe4d-b5ce-41cd-9d73-07452c437b40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "KAz2fcqPJjxTDxQ9",
  "tags": []
}