LIVE WEEKLY FLOW CIRCLE/20251130_WFC_WEB_SCRAPING/[COMPLETED] Trip Advisor.json
{
  "name": "[COMPLETED] Trip Advisor",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CUfg6rhh-OjVaNrB5AWSv40g9TCNwTg_11yuJg7nnrM",
          "mode": "list",
          "cachedResultName": "20251130_Scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CUfg6rhh-OjVaNrB5AWSv40g9TCNwTg_11yuJg7nnrM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2109795639,
          "mode": "list",
          "cachedResultName": "Trip_advisor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CUfg6rhh-OjVaNrB5AWSv40g9TCNwTg_11yuJg7nnrM/edit#gid=2109795639"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "={{ $json.type }}",
            "Category": "={{ $json.category }}",
            "Name": "={{ $json.name }}",
            "Address": "={{ $json.locationString }}",
            "Rating": "={{ $json.rating }}",
            "Phone Number": "='{{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "No. of Reviews": "={{ $json.rankingDenominator }}",
            "Website": "={{ $json.website }}",
            "Price Range": "={{ $json.priceLevel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No. of Reviews",
              "displayName": "No. of Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price Range",
              "displayName": "Price Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        96
      ],
      "id": "d677f82b-621c-4d89-8456-ea90a9f4b0bc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "50DCmt1movthIA5n",
          "name": "KN DSM Public Google Sheets 9 NOV 2025"
        }
      }
    },
    {
      "parameters": {
        "content": "### Pass the city to the actor",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        0
      ],
      "typeVersion": 1,
      "id": "ab426a25-d91e-45af-a527-7f534ca469b8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Store the data\n",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        0
      ],
      "typeVersion": 1,
      "id": "83f576de-3551-45c6-8795-70cee225303f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "dbEyMBriog95Fv8CW",
          "mode": "list",
          "cachedResultName": "Tripadvisor Scraper (maxcopell/tripadvisor)",
          "cachedResultUrl": "https://console.apify.com/actors/dbEyMBriog95Fv8CW/input"
        },
        "customBody": "={\n    \"currency\": \"INR\",\n    \"includeAiReviewsSummary\": false,\n    \"includeAttractions\": true,\n    \"includeHotels\": true,\n    \"includeNearbyResults\": false,\n    \"includePriceOffers\": false,\n    \"includeRestaurants\": true,\n    \"includeTags\": true,\n    \"includeVacationRentals\": false,\n    \"language\": \"en\",\n    \"maxItemsPerQuery\": 10,\n    \"query\": \"{{ $json.Location }}\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        432,
        96
      ],
      "id": "c6bf7593-06e9-4a00-847a-4b5d882ff25a",
      "name": "TripAdvisor Scraper",
      "credentials": {
        "apifyApi": {
          "id": "HdtXg7jhS6Bv0Bx7",
          "name": "KN APIFY 30 NOV 2025"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trip Advisor\n- Google Sheet Link (Copy) https://docs.google.com/spreadsheets/d/1CUfg6rhh-OjVaNrB5AWSv40g9TCNwTg_11yuJg7nnrM/edit?usp=sharing\n\n- Apify Actor - https://console.apify.com/actors/dbEyMBriog95Fv8CW/input",
        "height": 128,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -224
      ],
      "typeVersion": 1,
      "id": "3b04ff59-a5fb-4b5c-a521-41123dd0bd0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Give a city name as input\n",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "38708b62-580b-43c2-970c-964ce2f43331",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        96
      ],
      "id": "149b389d-949b-49a5-96be-8a800b57479f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93d75b7f-24c3-46ba-bb47-0c8abef8fe8e",
              "name": "Location",
              "value": "Bengaluru",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        96
      ],
      "id": "0a0205c1-f1d8-41bf-b8f9-95fd73cdf0d8",
      "name": "Search Field"
    }
  ],
  "pinData": {
    "TripAdvisor Scraper": [
      {
        "json": {
          "reviewTags": [
            {
              "text": "chicken",
              "reviews": 2
            },
            {
              "text": "biryani",
              "reviews": 2
            },
            {
              "text": "pizza",
              "reviews": 2
            },
            {
              "text": "nice performance",
              "reviews": 4
            },
            {
              "text": "nice vibe",
              "reviews": 2
            },
            {
              "text": "live karaoke",
              "reviews": 2
            },
            {
              "text": "lovely music",
              "reviews": 2
            },
            {
              "text": "nice drinks",
              "reviews": 2
            },
            {
              "text": "tasty food",
              "reviews": 6
            },
            {
              "text": "mg road",
              "reviews": 4
            },
            {
              "text": "brigade road",
              "reviews": 3
            },
            {
              "text": "awesome ambience",
              "reviews": 2
            },
            {
              "text": "awesome place",
              "reviews": 2
            },
            {
              "text": "visit this place",
              "reviews": 3
            },
            {
              "text": "roshan",
              "reviews": 3
            },
            {
              "text": "thnk",
              "reviews": 2
            },
            {
              "text": "musics",
              "reviews": 2
            },
            {
              "text": "hookah",
              "reviews": 3
            },
            {
              "text": "bangalore",
              "reviews": 8
            },
            {
              "text": "hav",
              "reviews": 2
            },
            {
              "text": "cheers",
              "reviews": 2
            },
            {
              "text": "crowd",
              "reviews": 3
            },
            {
              "text": "team",
              "reviews": 3
            }
          ],
          "id": "20105318",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Just Blr",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": null,
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2f/b7/08/62/usual-evening-at-just.jpg",
          "photoCount": 129,
          "rankingPosition": 17,
          "rating": 4.9,
          "rawRanking": 4.8224101066589355,
          "phone": "+91 942969054",
          "address": "Brigade Road 185, Dena Complex, Opp mc Donalds, Bengaluru 560025 India",
          "addressObj": {
            "street1": "Brigade Road",
            "street2": "185, Dena Complex, Opp mc Donalds",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560025"
          },
          "localName": "Just Blr",
          "localAddress": "Brigade Road, 185, Dena Complex, Opp mc Donalds, 560025",
          "localLangCode": "en-IN",
          "email": "justblrmanagement@gmail.com",
          "latitude": 12.973275,
          "longitude": 77.60732,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d20105318-Reviews-Just_Blr-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://www.justblr.com",
          "rankingString": "#17 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.16778126338314678
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.17006313248874655
            },
            {
              "name": "Trinity",
              "localName": "Trinity",
              "address": "Mahatma Gandhi Road, Bengaluru 560025, India",
              "localAddress": "Mahatma Gandhi Road, 560025",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.972954750061035,
              "longitude": 77.61699676513672,
              "distance": 0.6524553588580634
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 1,
            "count3": 4,
            "count4": 7,
            "count5": 250
          },
          "numberOfReviews": 263,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$ - $$$",
          "dishes": [],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d20105318-Just_Blr-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2f/b7/08/62/usual-evening-at-just.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2f/b7/08/c0/usual-evening-at-just.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2f/b6/e8/38/a-performance-night-at.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/ce/22/4c/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/ca/71/3a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/29/ef/1f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/29/ef/20/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/af/6f/d0/just-blr.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/83/07/04/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/f3/07/53/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/c6/8b/9b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/1a/56/ee/just-blr.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/1a/56/ef/just-blr.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f9/8c/26/just-blr.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f9/8c/80/just-blr.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f9/8e/cd/just-blr.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Bar",
            "Pub",
            "Gastropub"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly"
          ],
          "establishmentTypes": [
            "Bars & Pubs",
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Seating",
            "Serves Alcohol",
            "Full Bar",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "1787778",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Shiro Bengaluru",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Shiro, or castle in Japanese, is a dramatic soaring space that immediately captures the imagination and stretches the senses. The towering interior is finished in a unique combination of natural stone, woods, slate, leather, bamboo, and velvet complemented by shimmering lotus pools, soft furniture and subtle lighting. Shiro’s ability to stimulate your senses continues with their diverse cuisine and sophisticated bar. Inspired by the fiery orient, the menu offers an eclectic mix of Korean, Vietnamese, Chinese, Japanese and Thai gastronomy . Having won 19 awards across the country over the last eight years, including The Times Food Guide’s Best Pan Asian Restaurant in Bengaluru for the last four years consecutively, Shiro speaks for itself.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/94/07/shiro-bengaluru-cafe.jpg",
          "photoCount": 458,
          "rankingPosition": 16,
          "rating": 4.5,
          "rawRanking": 4.823756217956543,
          "phone": "+91 72590 21121",
          "address": "UB City, Vittal Mallya Road 222, 3rd Floor, Ashok Nagar, Bengaluru 560001 India",
          "addressObj": {
            "street1": "UB City, Vittal Mallya Road",
            "street2": "222, 3rd Floor, Ashok Nagar",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560001"
          },
          "localName": "Shiro Bengaluru",
          "localAddress": "UB City, Vittal Mallya Road, 222, 3rd Floor, Ashok Nagar, 560001",
          "localLangCode": "en-IN",
          "email": "priyank@jsmcorp.in",
          "latitude": 12.97166,
          "longitude": 77.59598,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d1787778-Reviews-Shiro_Bengaluru-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://www.facebook.com/experienceshiro",
          "rankingString": "#16 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [
            {
              "id": "20484099",
              "name": "Richmond Town"
            }
          ],
          "nearestMetroStations": [
            {
              "name": "Cubbon Park",
              "localName": "Cubbon Park",
              "address": "Kasturba Road, Bengaluru 560001, India",
              "localAddress": "Kasturba Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97555160522461,
              "longitude": 77.59098052978516,
              "distance": 0.43119877515802113
            },
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.764259308286105
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.7677911758015769
            },
            {
              "name": "Sir M Visveshwarya",
              "localName": "Sir M Visveshwarya",
              "address": "Post Office Road, Bengaluru 560009, India",
              "localAddress": "Post Office Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974120140075684,
              "longitude": 77.58399200439453,
              "distance": 0.8256313501808936
            },
            {
              "name": "Central College",
              "localName": "Central College",
              "address": "Palace Road, Bengaluru 560009, India",
              "localAddress": "Palace Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974810600280762,
              "longitude": 77.58273315429688,
              "distance": 0.9189706907022622
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 22,
            "count2": 21,
            "count3": 67,
            "count4": 219,
            "count5": 648
          },
          "numberOfReviews": 974,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Noodle",
            "Dim Sum",
            "Dumplings",
            "Tempura",
            "Ramen",
            "Teppanyaki",
            "Salad",
            "Curry",
            "Tiramisu",
            "Salmon",
            "Tuna",
            "Prawns",
            "Seafood Platters",
            "Duck",
            "Crisp",
            "Gyoza",
            "Fried rice",
            "Sashimi",
            "Fish",
            "Pork",
            "Chicken dishes",
            "BC Roll",
            "Rice dishes",
            "Soup",
            "Sushi Rolls",
            "Avocado",
            "Potato Chips",
            "Desserts",
            "Jumbo Shrimp",
            "Duck Dish",
            "Crispy",
            "Cake",
            "Vegetable Curry",
            "Maki"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [
            {
              "text": "sushi",
              "reviews": 104
            },
            {
              "text": "salad",
              "reviews": 6
            },
            {
              "text": "ub city",
              "reviews": 64
            },
            {
              "text": "great ambience",
              "reviews": 16
            },
            {
              "text": "statues",
              "reviews": 28
            },
            {
              "text": "cuisine",
              "reviews": 16
            }
          ],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/94/05/shiro-bengaluru-cafe.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/94/07/shiro-bengaluru-cafe.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/9a/dc/best-sushi-dimsums-shiro.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/9a/db/the-best-of-pan-asian.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/9a/da/shiro-pan-asian-spread.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/76/9a/d9/women-s-luncheon-shiro.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/aa/65/da/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/aa/65/17/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/71/85/d9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/71/85/da/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/71/8e/9f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/71/8e/9e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/71/8e/9d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/cf/8c/d6/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/53/52/a1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/53/52/a0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/53/52/9f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/19/9e/ce/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Sushi",
            "Shanghai",
            "Japanese",
            "Asian"
          ],
          "dietaryRestrictions": [
            "Gluten free options",
            "Vegetarian friendly",
            "Vegan options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Outdoor Seating",
            "Serves Alcohol",
            "Table Service",
            "Full Bar",
            "Highchairs Available",
            "Seating",
            "Accepts Credit Cards",
            "Wine and Beer",
            "Reservations",
            "Parking Available"
          ],
          "mealTypes": [
            "Dinner",
            "Drinks",
            "Late Night",
            "Lunch"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "27493936",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Kari Theory",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "KARI THEORY- is a Resto-Bar serving Traditional South Indian Street Food with modern cooking & presenting techniques paired with the Finest Drinks & Blends, which will take your gastronomical journey to the destinations where you have not been before and delight you with every element of it.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2b/ad/87/d1/nethili-fry.jpg",
          "photoCount": 115,
          "rankingPosition": 8,
          "rating": 4.9,
          "rawRanking": 4.864498138427734,
          "phone": "+91 80 2558 8550",
          "address": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout Ulsoor, Bengaluru 560042 India",
          "addressObj": {
            "street1": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout",
            "street2": "Ulsoor",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560042"
          },
          "localName": "Kari Theory",
          "localAddress": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout, Ulsoor, 560042",
          "localLangCode": "en-IN",
          "email": "adithya@rdbcc.com",
          "latitude": 12.976218,
          "longitude": 77.61949,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d27493936-Reviews-Kari_Theory-Bengaluru_Bangalore_District_Karnataka.html",
          "website": null,
          "rankingString": "#8 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [
            {
              "name": "Trinity",
              "localName": "Trinity",
              "address": "Mahatma Gandhi Road, Bengaluru 560025, India",
              "localAddress": "Mahatma Gandhi Road, 560025",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.972954750061035,
              "longitude": 77.61699676513672,
              "distance": 0.28148665828318675
            },
            {
              "name": "Halasuru",
              "localName": "Halasuru",
              "address": "Mahatma Gandhi Road, Bengaluru 560008, India",
              "localAddress": "Mahatma Gandhi Road, 560008",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97641658782959,
              "longitude": 77.62667083740234,
              "distance": 0.484104755788755
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.8689954714993249
            },
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.871716448543554
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 0,
            "count2": 0,
            "count3": 4,
            "count4": 21,
            "count5": 243
          },
          "numberOfReviews": 268,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Chicken dishes",
            "Dosa",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/87/d1/nethili-fry.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/87/d0/kumbakonam-kapi-daiquiri.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/84/7d/kari-theory-is-a-resto.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1c/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/6f/61/84/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/17/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/18/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/19/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/be/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/bf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c2/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c3/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c4/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/5a/07/36/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Street Food"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Buffet",
            "Private Dining",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Free off-street parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "American Express",
            "Mastercard",
            "Visa",
            "Digital Payments",
            "Accepts Credit Cards",
            "Table Service",
            "Live Music",
            "Family style"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "seafood",
              "reviews": 222
            },
            {
              "text": "appam",
              "reviews": 246
            },
            {
              "text": "mango curry",
              "reviews": 31
            },
            {
              "text": "stew",
              "reviews": 44
            },
            {
              "text": "tiger prawns",
              "reviews": 25
            },
            {
              "text": "crab",
              "reviews": 28
            },
            {
              "text": "thali",
              "reviews": 71
            },
            {
              "text": "kerala food",
              "reviews": 22
            },
            {
              "text": "cake",
              "reviews": 59
            },
            {
              "text": "curries",
              "reviews": 23
            },
            {
              "text": "chicken",
              "reviews": 36
            },
            {
              "text": "coastal food",
              "reviews": 109
            },
            {
              "text": "mr anthony",
              "reviews": 47
            },
            {
              "text": "birthday lunch",
              "reviews": 28
            },
            {
              "text": "residency road",
              "reviews": 47
            },
            {
              "text": "amazing food",
              "reviews": 80
            },
            {
              "text": "special mention",
              "reviews": 49
            },
            {
              "text": "banana leaf",
              "reviews": 33
            },
            {
              "text": "outdoor seating",
              "reviews": 39
            },
            {
              "text": "special thanks",
              "reviews": 50
            },
            {
              "text": "memorable experience",
              "reviews": 22
            },
            {
              "text": "great ambience",
              "reviews": 65
            },
            {
              "text": "south indian",
              "reviews": 23
            },
            {
              "text": "must visit place",
              "reviews": 26
            },
            {
              "text": "mouth watering",
              "reviews": 27
            },
            {
              "text": "non veg",
              "reviews": 26
            },
            {
              "text": "bangalore",
              "reviews": 318
            },
            {
              "text": "ada",
              "reviews": 22
            },
            {
              "text": "meen",
              "reviews": 25
            },
            {
              "text": "malabar",
              "reviews": 48
            }
          ],
          "id": "1568903",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Karavalli @ Taj",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Karavalli an iconic restaurant located at Vivanta Bengaluru Residency Road. Since inception in 1990, Karavalli has grown to be an institution when it comes to South west coast flavours. Modelled on a traditional Mangalorean bungalow, and surrounded by lush tamarind trees, the restaurant is inspired by the architecture of coastal South India. Ingredients from the coast, such as cloves, cinnamon, pepper, home grown chillies and only the freshest vegetables and finest meats make it to the menu. The chef and team have painstakingly preserved India’s most refined culinary traditions from our rich heritage by restoring age old recipes, decades of researching meeting with locals and recreating forgotten flavours of a glorious bygone era.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/2d/2f/94/karavalli-garden.jpg",
          "photoCount": 766,
          "rankingPosition": 9,
          "rating": 4.8,
          "rawRanking": 4.856713771820068,
          "phone": "+91 80666 04519",
          "address": "66 Residency Rd The Gateway Hotel, Bengaluru 560025 India",
          "addressObj": {
            "street1": "66 Residency Rd",
            "street2": "The Gateway Hotel",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560025"
          },
          "localName": "Karavalli @ Taj",
          "localAddress": "66 Residency Rd, The Gateway Hotel, 560025",
          "localLangCode": "en-IN",
          "email": "suresh.khanna@tajhotels.com",
          "latitude": 12.972159,
          "longitude": 77.60883,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d1568903-Reviews-Karavalli_Taj-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.vivantahotels.com/en-in/vivanta-bengaluru-residency-road/restaurants/karavalli",
          "rankingString": "#9 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [
            {
              "id": "13087490",
              "name": "MG Road"
            },
            {
              "id": "20484099",
              "name": "Richmond Town"
            }
          ],
          "nearestMetroStations": [
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.28185308680882304
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.28315579848004074
            },
            {
              "name": "Trinity",
              "localName": "Trinity",
              "address": "Mahatma Gandhi Road, Bengaluru 560025, India",
              "localAddress": "Mahatma Gandhi Road, 560025",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.972954750061035,
              "longitude": 77.61699676513672,
              "distance": 0.5530004193426142
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 15,
            "count2": 20,
            "count3": 62,
            "count4": 325,
            "count5": 2162
          },
          "numberOfReviews": 2584,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Crab",
            "Lobster",
            "Crawfish",
            "Curry",
            "Prawns",
            "Stews",
            "Fish",
            "Chicken dishes",
            "Rice dishes",
            "Fish Curry",
            "Thali",
            "Payasam",
            "Mango dishes",
            "Tiger Prawns",
            "Dosa",
            "Mixed Seafood",
            "Paratha",
            "Butter Chicken",
            "Chicken Curry",
            "Fish Fry",
            "Desserts",
            "Chicken Biryani",
            "Jumbo Shrimp",
            "Rasam",
            "Mutton",
            "Biryani",
            "Cake",
            "Vegetable Curry",
            "Parantha",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/1b/2d/2f/94/karavalli-garden.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/03/d9/62/ce/karavalli.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/bf/70/f9/ac-section.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1b/2d/2f/77/karavalli-courtyard.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/03/d9/63/30/karavalli.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/bd/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/be/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/bf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/c0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/c1/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Seafood"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner",
            "Late Night",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "kulfi",
              "reviews": 32
            },
            {
              "text": "dal makhani",
              "reviews": 17
            },
            {
              "text": "cake",
              "reviews": 25
            },
            {
              "text": "chicken",
              "reviews": 15
            },
            {
              "text": "kebab",
              "reviews": 15
            },
            {
              "text": "shangri la hotel",
              "reviews": 19
            },
            {
              "text": "saffron restaurant",
              "reviews": 16
            },
            {
              "text": "chef pankaj",
              "reviews": 12
            },
            {
              "text": "anniversary celebration",
              "reviews": 17
            },
            {
              "text": "special thanks",
              "reviews": 34
            },
            {
              "text": "set menu",
              "reviews": 16
            },
            {
              "text": "great ambience",
              "reviews": 39
            },
            {
              "text": "amazing hospitality",
              "reviews": 12
            },
            {
              "text": "indian food",
              "reviews": 30
            },
            {
              "text": "excellent food",
              "reviews": 35
            },
            {
              "text": "special mention",
              "reviews": 16
            },
            {
              "text": "family dinner",
              "reviews": 11
            },
            {
              "text": "courteous staff",
              "reviews": 14
            },
            {
              "text": "dining experience",
              "reviews": 12
            },
            {
              "text": "main course",
              "reviews": 28
            },
            {
              "text": "shangrila",
              "reviews": 44
            },
            {
              "text": "lal",
              "reviews": 20
            },
            {
              "text": "floor",
              "reviews": 72
            },
            {
              "text": "bangalore",
              "reviews": 81
            },
            {
              "text": "ms",
              "reviews": 23
            },
            {
              "text": "team",
              "reviews": 33
            }
          ],
          "id": "10252338",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Ssaffron",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": null,
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/0b/ff/18/35/ssaffron-restaurant.jpg",
          "photoCount": 431,
          "rankingPosition": 22,
          "rating": 4.8,
          "rawRanking": 4.815494537353516,
          "phone": "+91 80 6916 6100",
          "address": "No 56-6B Palace Road Level 18, Bengaluru 560001 India",
          "addressObj": {
            "street1": "No 56-6B Palace Road",
            "street2": "Level 18",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560001"
          },
          "localName": "Ssaffron",
          "localAddress": "No 56-6B Palace Road, Level 18, 560001",
          "localLangCode": "en-IN",
          "email": "Ssaffron.slbl@shangri-la.com",
          "latitude": 12.991831,
          "longitude": 77.588005,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d10252338-Reviews-Ssaffron-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://www.shangri-la.com/bengaluru/shangrila/dining/restaurants/ssaffron/",
          "rankingString": "#22 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [
            {
              "id": "20484100",
              "name": "Vasanth Nagar"
            }
          ],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 6,
            "count2": 11,
            "count3": 5,
            "count4": 100,
            "count5": 939
          },
          "numberOfReviews": 1061,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Doner Kebab",
            "Curry",
            "Mixed Kebabs",
            "Lamb",
            "Chicken dishes",
            "Paneer",
            "Thali",
            "Soup",
            "Daal",
            "Paratha",
            "Paneer Tikka",
            "Desserts",
            "Chicken Biryani",
            "Kulfi",
            "Mutton",
            "Biryani",
            "Cake",
            "Vegetable Curry",
            "Parantha"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 930,
                  "closeHours": "15:30"
                },
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 930,
                  "closeHours": "15:30"
                },
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 930,
                  "closeHours": "15:30"
                },
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 930,
                  "closeHours": "15:30"
                },
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 930,
                  "closeHours": "15:30"
                },
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1110,
                  "openHours": "18:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "https://shangri-la-bengaluru.guest-chat.com/venue/29686/venues",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/0b/ff/18/35/ssaffron-restaurant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/0f/a7/ac/a0/ssaffron-outdoors.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/0b/ff/18/36/kebabs-and-more.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/e1/27/d1/rogan-josh.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/e1/27/d0/onion-rings.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/fa/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/dd/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/44/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/41/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/45/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/43/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/18/02/42/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/86/c7/6f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/ae/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/ad/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/ac/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/ab/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/aa/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/a8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/30/f2/a7/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/60/e5/12/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/89/99/3d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/89/99/3e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/e5/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/e6/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/e7/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/e8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/e9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/ea/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/eb/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/ec/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/ed/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a2/8f/ee/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/70/84/53/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/65/f2/1a/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Halal",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "brunch",
              "reviews": 6
            },
            {
              "text": "pizza",
              "reviews": 14
            },
            {
              "text": "fish fingers",
              "reviews": 2
            },
            {
              "text": "appam",
              "reviews": 2
            },
            {
              "text": "cakes",
              "reviews": 3
            },
            {
              "text": "the cottages",
              "reviews": 12
            },
            {
              "text": "kerala style",
              "reviews": 12
            },
            {
              "text": "beautiful property",
              "reviews": 5
            },
            {
              "text": "mr hari",
              "reviews": 4
            },
            {
              "text": "pet friendly resort",
              "reviews": 3
            },
            {
              "text": "lush green surroundings",
              "reviews": 3
            },
            {
              "text": "baby shower",
              "reviews": 2
            },
            {
              "text": "vineyard tour",
              "reviews": 2
            },
            {
              "text": "the resort manager",
              "reviews": 2
            },
            {
              "text": "the entire property",
              "reviews": 2
            },
            {
              "text": "swimming pool is",
              "reviews": 2
            },
            {
              "text": "nice weekend",
              "reviews": 2
            },
            {
              "text": "weekend outing",
              "reviews": 2
            },
            {
              "text": "special shoutout",
              "reviews": 2
            },
            {
              "text": "house keeping",
              "reviews": 2
            },
            {
              "text": "excellent place",
              "reviews": 8
            },
            {
              "text": "bangalore city",
              "reviews": 6
            },
            {
              "text": "comfortable stay",
              "reviews": 2
            },
            {
              "text": "goat cheese",
              "reviews": 2
            },
            {
              "text": "great ambience and food",
              "reviews": 2
            },
            {
              "text": "food and wine",
              "reviews": 2
            },
            {
              "text": "amazing hospitality",
              "reviews": 3
            },
            {
              "text": "ala carte",
              "reviews": 3
            },
            {
              "text": "candle light dinner",
              "reviews": 2
            },
            {
              "text": "special mention",
              "reviews": 4
            }
          ],
          "id": "21372213",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Ranch at Big Banyan Vineyard & Resort",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Set in the 20-acre sprawling Big Banyan Resort & Vineyard, Ranch is your weekend getaway, late-night pub cum hang-out with friends, the go-to restaurant for family outings, and an ideal venue for your team lunches and dinners. Has a vegetable farm with livestock and a vineyard. Adjacent is the Big Banyan Winery where we organize a wine tour with wine tasting. Have three accommodation cottages done up tastefully in ethnic style",
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/04/89/restaurant-and-bar-at.jpg",
          "photoCount": 308,
          "rankingPosition": 35,
          "rating": 4.8,
          "rawRanking": 4.755186557769775,
          "phone": "+91 80 6911 1100",
          "address": "Sy No.8/3, VP Khatha No.396/8/3 Near Big Banyan Tree, Bengaluru 562130 India",
          "addressObj": {
            "street1": "Sy No.8/3, VP Khatha No.396/8/3",
            "street2": "Near Big Banyan Tree",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "562130"
          },
          "localName": "Ranch at Big Banyan Vineyard & Resort",
          "localAddress": "Sy No.8/3, VP Khatha No.396/8/3, Near Big Banyan Tree, 562130",
          "localLangCode": "en-IN",
          "email": "blrsales2@thepaul.in",
          "latitude": 12.908014,
          "longitude": 77.38185,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d21372213-Reviews-Ranch_at_Big_Banyan_Vineyard_Resort-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.facebook.com/ranchatbigbanyanvineyardandresort/",
          "rankingString": "#35 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 5,
            "count2": 0,
            "count3": 1,
            "count4": 20,
            "count5": 235
          },
          "numberOfReviews": 261,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Fish",
            "Soup",
            "Chicken Biryani",
            "Biryani",
            "Cake"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 450,
                  "openHours": "07:30",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/04/89/restaurant-and-bar-at.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/05/d7/lawns-vineyard-farmhouse.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/05/ab/lawns-vineyard-farmhouse.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/04/8a/restaurant-and-bar-at.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/4b/05/d6/lawns-vineyard-farmhouse.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/4f/46/00/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/4f/46/01/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/4f/46/02/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/4f/46/04/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Bar",
            "Pizza",
            "Healthy"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Buffet",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Highchairs Available",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "Digital Payments",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service",
            "Playgrounds",
            "Dog Friendly",
            "Family style"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "salad",
              "reviews": 87
            },
            {
              "text": "dosa",
              "reviews": 49
            },
            {
              "text": "ice cream",
              "reviews": 26
            },
            {
              "text": "sai vishram",
              "reviews": 298
            },
            {
              "text": "restaurant manager",
              "reviews": 102
            },
            {
              "text": "vegetarian food",
              "reviews": 125
            },
            {
              "text": "electronic city",
              "reviews": 84
            },
            {
              "text": "excellent hospitality",
              "reviews": 64
            },
            {
              "text": "excellent vegetarian",
              "reviews": 27
            },
            {
              "text": "garden city",
              "reviews": 24
            },
            {
              "text": "pure veg",
              "reviews": 50
            },
            {
              "text": "welcome drink",
              "reviews": 42
            },
            {
              "text": "awesome food",
              "reviews": 59
            },
            {
              "text": "family lunch",
              "reviews": 21
            },
            {
              "text": "buffet spread",
              "reviews": 42
            },
            {
              "text": "mind blowing",
              "reviews": 28
            },
            {
              "text": "lunch buffet",
              "reviews": 37
            },
            {
              "text": "south indian",
              "reviews": 39
            },
            {
              "text": "live counter",
              "reviews": 24
            },
            {
              "text": "nice ambience",
              "reviews": 52
            },
            {
              "text": "visit this place",
              "reviews": 50
            },
            {
              "text": "courteous staff",
              "reviews": 24
            },
            {
              "text": "main course",
              "reviews": 65
            },
            {
              "text": "special thanks",
              "reviews": 24
            },
            {
              "text": "mouth watering",
              "reviews": 27
            },
            {
              "text": "quality of food",
              "reviews": 23
            },
            {
              "text": "bommasandra",
              "reviews": 41
            },
            {
              "text": "ecity",
              "reviews": 24
            },
            {
              "text": "team",
              "reviews": 157
            },
            {
              "text": "bangalore",
              "reviews": 259
            }
          ],
          "id": "1389538",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Time Traveller",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Time Traveller offers an eclectic buffet & an a la carte menu with dishes from across the globe. The buffet for lunch & dinner features over 12 salads, soup selections, 18 main course dishes & over a dozen desserts. Some of the dishes featured in the menu span from Greece, Mexico, The Orient, Europe, Morocco… etc all. Our live counter is a must try!",
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/14/96/fa/14/restaurant.jpg",
          "photoCount": 539,
          "rankingPosition": 1,
          "rating": 4.9,
          "rawRanking": 4.955207824707031,
          "phone": "+91 80 4040 0400",
          "address": "144 - C/1 Kirloskar Rd Ground Floor, Sai Vishram Business Hotel, Bengaluru 560099 India",
          "addressObj": {
            "street1": "144 - C/1 Kirloskar Rd",
            "street2": "Ground Floor, Sai Vishram Business Hotel",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560099"
          },
          "localName": "Time Traveller",
          "localAddress": "144 - C/1 Kirloskar Rd, Ground Floor, Sai Vishram Business Hotel, 560099",
          "localLangCode": "en-IN",
          "email": null,
          "latitude": 12.824636,
          "longitude": 77.68114,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d1389538-Reviews-Time_Traveller-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.instagram.com/timetravellersaivishram/?hl=e",
          "rankingString": "#1 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 10,
            "count2": 8,
            "count3": 33,
            "count4": 163,
            "count5": 2502
          },
          "numberOfReviews": 2714,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$ - $$$",
          "dishes": [
            "Pasta",
            "Salad",
            "Pesto",
            "Sweets",
            "Dinner Buffet",
            "Soup",
            "Dosa",
            "Fresh Pasta",
            "Desserts",
            "Cake"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/14/96/fa/14/restaurant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/02/d7/6e/a7/e-inn.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/c4/03/d2/paneer-biryani-served.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/a2/cf/82/mango-tart-served-at.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/21/e2/fc/baby-corn-in-hot-garlic.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/bb/f4/90/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/bb/f4/a5/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/d8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/d9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/da/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "International",
            "Asian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wine and Beer",
            "Mastercard",
            "Visa",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [],
          "id": "26559384",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Loya",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "LOYA is a grand feast, which leads you on an immersive journey across the vivid north. From the foothills of the Himalayas to the flat terrain of Punjab, to snow-laden Kashmir, Loya is a confluence of flavour, passion and influence, all culminating exquisitely on your plate. Our search for the authentic and the long-preserved dishes resulted in a gathering of the North’s most cherished recipes. They spotlight the inherent uniqueness and theatrics of time-honoured cooking techniques of the North - the drama of “dhungar” or smoking, the aromatics of “baghar”, in which spices are tempered in hot oil, “dum”, the richness of slow-cooking and the energetic pounding of spices by hand. Loya offers the warmth and comfort of the past intersecting with the energy of today. A place where timeless techniques, undiscovered culinary traditions and heirloom ingredients are proudly showcased. Loya welcomes guests above the age of 08 years only.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2a/72/84/08/loya-at-taj-west-end.jpg",
          "photoCount": 343,
          "rankingPosition": 2,
          "rating": 5,
          "rawRanking": 4.915696144104004,
          "phone": "+91 80666 05660",
          "address": "Race Course Road Taj West End, High Grounds, Bengaluru 560001 India",
          "addressObj": {
            "street1": "Race Course Road",
            "street2": "Taj West End, High Grounds",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560001"
          },
          "localName": "Loya",
          "localAddress": "Race Course Road, Taj West End, High Grounds, 560001",
          "localLangCode": "en-IN",
          "email": "tweloya.bang@tajhotels.com",
          "latitude": 12.984504,
          "longitude": 77.58465,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d26559384-Reviews-Loya-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.tajhotels.com/en-in/hotels/taj-west-end-bengaluru/restaurants/loya-taj-west-end?utm_source=Google&utm_campaign=LoyaTWE&utm_medium=Local",
          "rankingString": "#2 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [
            {
              "name": "Central College",
              "localName": "Central College",
              "address": "Palace Road, Bengaluru 560009, India",
              "localAddress": "Palace Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974810600280762,
              "longitude": 77.58273315429688,
              "distance": 0.6827892898950976
            },
            {
              "name": "Sir M Visveshwarya",
              "localName": "Sir M Visveshwarya",
              "address": "Post Office Road, Bengaluru 560009, India",
              "localAddress": "Post Office Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974120140075684,
              "longitude": 77.58399200439453,
              "distance": 0.7195976608280223
            },
            {
              "name": "Cubbon Park",
              "localName": "Cubbon Park",
              "address": "Kasturba Road, Bengaluru 560001, India",
              "localAddress": "Kasturba Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97555160522461,
              "longitude": 77.59098052978516,
              "distance": 0.7520728150357036
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 2,
            "count3": 3,
            "count4": 15,
            "count5": 645
          },
          "numberOfReviews": 666,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Curry",
            "Chicken dishes",
            "Paneer",
            "Daal",
            "Desserts",
            "Chicken Biryani",
            "Mutton",
            "Biryani",
            "Cake",
            "Vegetable Curry"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d26559384-Loya-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/84/08/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/81/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/83/kulfi-pops.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/82/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/80/gud-ke-maan.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a8/45/54/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a8/45/55/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/bf/19/f3/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/bf/19/f4/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/19/f4/7e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/19/f4/7d/capti_r.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/18/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/30/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2c/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Digital Payments",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "15131290",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "WBG - Whitefield Bar and Grill",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Escape to our poolside oasis for an unforgettable dining experience. With fresh breezes and a fun-loving spirit, our menu of Modern Indian and international grills perfectly paired with our curated drinks list.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/15/00/da/85/whitefield-bar-grill.jpg",
          "photoCount": 158,
          "rankingPosition": 28,
          "rating": 4.9,
          "rawRanking": 4.78355073928833,
          "phone": "+91 95131 38662",
          "address": "Plot No 75 8th Road Bengaluru Marriott Hotel Whitefield, Bengaluru 560066 India",
          "addressObj": {
            "street1": "Plot No 75 8th Road",
            "street2": "Bengaluru Marriott Hotel Whitefield",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560066"
          },
          "localName": "WBG - Whitefield Bar and Grill",
          "localAddress": "Plot No 75 8th Road, Bengaluru Marriott Hotel Whitefield, 560066",
          "localLangCode": "en-IN",
          "email": "mhrs.blrwf.fnbsales@marriott.com",
          "latitude": 12.979014,
          "longitude": 77.72833,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d15131290-Reviews-WBG_Whitefield_Bar_and_Grill-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://www.marriott.com/en-us/dining/restaurant-bar/blrwf-bengaluru-marriott-hotel-whitefield/5829615-wbg-whitefield-bar-and-grill.mi",
          "rankingString": "#28 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [
            {
              "id": "13087493",
              "name": "Whitefield"
            }
          ],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 0,
            "count3": 1,
            "count4": 15,
            "count5": 213
          },
          "numberOfReviews": 230,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$ - $$$",
          "dishes": [
            "Burger",
            "Tandoori Chicken",
            "Steak Frites",
            "Prawns",
            "Beef",
            "Lamb",
            "Chicken dishes",
            "Paneer",
            "Burger and Fries",
            "Jumbo Shrimp",
            "Sea Bass"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 660,
                  "openHours": "11:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1020,
                  "openHours": "17:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1020,
                  "openHours": "17:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1020,
                  "openHours": "17:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1020,
                  "openHours": "17:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1020,
                  "openHours": "17:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 660,
                  "openHours": "11:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "https://drive.google.com/file/d/1BeRqEEKS2U8Uxf0CVjU6q66AQB43YxaU/view?usp=drive_link",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [
            {
              "text": "special thanks",
              "reviews": 6
            },
            {
              "text": "amazing food",
              "reviews": 5
            },
            {
              "text": "marriott",
              "reviews": 17
            },
            {
              "text": "team",
              "reviews": 16
            },
            {
              "text": "bangalore",
              "reviews": 20
            }
          ],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/31/58/92/45/long-shot-of-the-ambience.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/15/00/da/85/whitefield-bar-grill.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/15/00/da/1a/whitefield-bar-grill.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/15/00/d3/57/whitefield-bar-grill.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/58/92/44/cozy-outdoor-seating.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/30/df/c9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/df/47/26/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/df/47/27/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/b6/2e/a7/wbg-whitefield-bar-and.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/b6/2e/a0/wbg-whitefield-bar-and.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Bar",
            "Grill",
            "Fusion",
            "Dining bars"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "American Express",
            "Mastercard",
            "Visa",
            "Free Wifi",
            "Discover",
            "Accepts Credit Cards",
            "Table Service",
            "Live Music",
            "Dog Friendly",
            "Family style"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [
            {
              "providerType": "RESERVATION",
              "canProvideTimeslots": false,
              "buttonText": "Reserve",
              "offerURL": "https://www.tripadvisor.com/Commerce?p=Restaurants_SevenRooms&src=272177606&geo=15131290&from=Restaurant_Review&area=reservation_button&slot=1&matchID=1&oos=0&cnt=1&silo=29025&bucket=870813&nrank=1&crank=1&clt=R&ttype=Restaurant&tm=344423135&managed=false&capped=false&gosox=9DMvibDTWdNaFeGYL8QTakyv1LBYZaGpeB4MEHn-hv2mZBN376EHVCGusTIRxmJ8y7At_zNDN2p4VpkTXco0l8GDZ__Ct5V4HOal017sfb8&cs=1dacd25060c2e2d89b5ff9878ede911fd",
              "logoUrl": "https://static.tacdn.com/img2/branding/hotels/sevenrooms_04.23.2019.png",
              "provider": "Restaurants_SevenRooms",
              "providerId": "14051",
              "providerDisplayName": "SevenRooms",
              "headerText": "Reserve a table"
            }
          ],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "14101434",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "The Creek",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Perfect for a quick meal or a prompt business meet, it is both a gastronomic and sensory delight. Food prepared in interactive counters on modern cooking ranges, grills and exotic clay ovens display the innovative art-form of our chefs. Walk out to Alfresco for an open air leisurely space that stands out for its unique feature of being surrounded by a trail of all day flowing water bodies.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/13/f7/9b/cb/photo0jpg.jpg",
          "photoCount": 279,
          "rankingPosition": 12,
          "rating": 4.9,
          "rawRanking": 4.836822032928467,
          "phone": "+91 8071 117 272",
          "address": "KIADB Export Promotion Industrial Area, Whitefield ITPL Main Road, Bengaluru 560066 India",
          "addressObj": {
            "street1": "KIADB Export Promotion Industrial Area, Whitefield",
            "street2": "ITPL Main Road",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560066"
          },
          "localName": "The Creek",
          "localAddress": "KIADB Export Promotion Industrial Area, Whitefield, ITPL Main Road, 560066",
          "localLangCode": "en-IN",
          "email": "thecreek@denhotels.com",
          "latitude": 12.987164,
          "longitude": 77.73316,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d14101434-Reviews-The_Creek-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://www.denhotels.com",
          "rankingString": "#12 of 10,590 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 7,
            "count2": 3,
            "count3": 9,
            "count4": 47,
            "count5": 885
          },
          "numberOfReviews": 949,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Pasta",
            "Salad",
            "Pesto",
            "Dinner Buffet",
            "Fresh Pasta",
            "Desserts",
            "Cake",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [
            {
              "text": "brunch",
              "reviews": 54
            },
            {
              "text": "cake",
              "reviews": 9
            },
            {
              "text": "salad",
              "reviews": 14
            },
            {
              "text": "special thanks",
              "reviews": 24
            },
            {
              "text": "nice hospitality",
              "reviews": 8
            },
            {
              "text": "buffet spread",
              "reviews": 19
            },
            {
              "text": "amazing restaurant",
              "reviews": 6
            },
            {
              "text": "special mention",
              "reviews": 15
            },
            {
              "text": "excellent food and service",
              "reviews": 10
            },
            {
              "text": "live counter",
              "reviews": 11
            },
            {
              "text": "must visit place",
              "reviews": 17
            },
            {
              "text": "family dinner",
              "reviews": 7
            },
            {
              "text": "rumi",
              "reviews": 111
            },
            {
              "text": "den",
              "reviews": 66
            },
            {
              "text": "amit",
              "reviews": 77
            },
            {
              "text": "team",
              "reviews": 48
            },
            {
              "text": "leye",
              "reviews": 6
            },
            {
              "text": "sah",
              "reviews": 6
            },
            {
              "text": "ambience",
              "reviews": 118
            },
            {
              "text": "whitefield",
              "reviews": 22
            },
            {
              "text": "hostess",
              "reviews": 7
            },
            {
              "text": "cheers",
              "reviews": 10
            },
            {
              "text": "desert",
              "reviews": 11
            },
            {
              "text": "feedback",
              "reviews": 8
            },
            {
              "text": "varieties",
              "reviews": 16
            },
            {
              "text": "mark",
              "reviews": 9
            },
            {
              "text": "items",
              "reviews": 10
            },
            {
              "text": "bangalore",
              "reviews": 18
            },
            {
              "text": "cuisine",
              "reviews": 6
            }
          ],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/28/07/63/8d/the-creek.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/dd/80/15/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/dd/7f/d8/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/a7/39/e5/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/f7/9b/cb/photo0jpg.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/a0/d8/72/20210131-114333-largejpg.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/92/9e/c7/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/92/9e/c8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/92/9e/c9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/92/9e/ca/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/92/9e/cb/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Bar",
            "International",
            "Grill"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Halal",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Buffet",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "Digital Payments",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch",
            "Late Night",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      }
    ]
  },
  "connections": {
    "TripAdvisor Scraper": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Field": {
      "main": [
        [
          {
            "node": "TripAdvisor Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fabb4b73-46b8-473c-b9d0-61eda2d2c2c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a39925a189fc4958777cfbc2ee952f96a625e56b8dde120f89d58a7cdacf694a"
  },
  "id": "0tcX7ccGb8Q2kF0E",
  "tags": []
}