LIVE FLOW CIRCLE/20260412_WFC_Stock_Agent/Stock Analyst V2 - with schedule trigger/[DEMO] 20260412 Stock Agent v2 - on Schedule.json
{
  "name": "[DEMO] 20260412 Stock Agent v2 - on Schedule",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.stock }}",
        "options": {
          "systemMessage": "You are an Orchestrator Agent.\n\nYour role:\n1. Send the user query to:\n   - Fundamental Analysis Agent\n   - Technical Analysis Agent\n2. Ensure both agents use their search tools before responding.\n3. Collect both outputs.\n4. Combine them into one clear response.\n5. Create a clean HTML email version of the final response.\n6. Pass that HTML to the Gmail send node.\n\nOutput format:\n- Fundamental Insights:\n- Technical Insights:\n- Final Summary:\n- Email Subject:\n- Email HTML:\n\nRules:\n- Be concise.\n- Do not make assumptions.\n- Only use agent outputs.\n- Email HTML must be simple, clean, and readable using basic HTML tags only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "d11e1a20-f515-4375-bb7a-718802e1f6af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use this Fundamental Analysis Tool Only once per user request",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a Fundamental Analysis Agent.\n\nYour role:\n1. Use the search tool to find recent data (news, earnings, macro trends).\n2. Analyze factors like revenue, growth, industry, sentiment.\n3. Do not answer without using search.\n\nOutput format:\n- Key Findings:\n- Market Sentiment:\n- Fundamental View (Bullish/Bearish/Neutral):\n\nBe concise and insight-driven."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        560,
        240
      ],
      "id": "39994c2c-f4ef-46b3-86fd-f0a2dacbb791",
      "name": "Fundamental Analysis Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use this Technical Analysis Tool Only once per user request",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a Technical Analysis Agent.\n\nYour role:\n1. Use the search tool to find recent price/indicator data.\n2. Analyze trends, support/resistance, momentum.\n3. Do not answer without using search.\n\nOutput format:\n- Trend:\n- Key Levels (Support/Resistance):\n- Indicator Signals:\n- Technical View (Bullish/Bearish/Neutral):\n\nKeep it short and precise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        848,
        240
      ],
      "id": "0e5992c0-f2bb-433a-b4c0-7229b5a2d0dd",
      "name": "Technical Analysis Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use Google Gemini as a search tool for Fundamental Analysis",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "enableUrlContext": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Enable_URL_Context_Tool', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "typeVersion": 1,
      "position": [
        704,
        448
      ],
      "id": "4a139388-fc2d-42b4-a951-117d67097ad0",
      "name": "Gemini Search Tool",
      "credentials": {
        "geminiSearchApi": {
          "id": "7az0sro57GIxXbvr",
          "name": "KN Gemini Tool API - 4 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use Google Gemini as a search tool for Technical Analysis",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "typeVersion": 1,
      "position": [
        1024,
        448
      ],
      "id": "12f08410-21d0-43a4-b5ac-b8977577d4bc",
      "name": "Gemini Search Tool1",
      "credentials": {
        "geminiSearchApi": {
          "id": "7az0sro57GIxXbvr",
          "name": "KN Gemini Tool API - 4 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "1076ff1c-1d26-4ae3-8b4f-1210f796ed18",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jAWUeFd9ZjEHcCEF",
          "name": "KN Google Gemini(PaLM) - 7 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        448
      ],
      "id": "138fda0c-601f-4d8c-9a23-5e22bfde6513",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jAWUeFd9ZjEHcCEF",
          "name": "KN Google Gemini(PaLM) - 7 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        448
      ],
      "id": "f64f4c31-da00-4b8f-945b-dbfc1fe88a73",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "jAWUeFd9ZjEHcCEF",
          "name": "KN Google Gemini(PaLM) - 7 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1807a24f-99b6-4e0a-b179-9739fd8d7dd6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "adjectivecontentcreators@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Stock Analyst"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1200,
        240
      ],
      "id": "1382d4a6-e775-4189-a732-84a6af80c216",
      "name": "Send a message in Gmail",
      "webhookId": "067ae14d-469b-4266-b378-fc87e659cbd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "2ZsHBK4LbGsvRSht",
          "name": "KN DSM Gmail - 5 APR 2026"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55441670-1bfe-46ea-b970-230bceaf9b73",
              "name": "stock",
              "value": "NVIDEA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "98aa9ee1-146d-40a4-bdb4-e6d531800c4f",
      "name": "Enter Stock"
    }
  ],
  "pinData": {},
  "connections": {
    "Fundamental Analysis Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Fundamental Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Search Tool1": {
      "ai_tool": [
        [
          {
            "node": "Technical Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Fundamental Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Enter Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enter Stock": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "55ee4728-5423-4277-a69a-5a471183a1af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "rRwGiIybJp6uTju7",
  "tags": []
}