AIAA_KICKSTARTER/Workflows/500 Telegram Agent/[Video] Telegram Agent - 501.json
{
  "name": "[Video] Telegram Agent - 501",
  "nodes": [
    {
      "parameters": {
        "content": "## Bot Father Link\n- API Link : https://telegram.me/BotFather\n- Bot Link : https://t.me/acme_inc_sup_bot\n\n",
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -112
      ],
      "typeVersion": 1,
      "id": "bd85e948-2e98-4fed-bf93-a4041f3578c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -16
      ],
      "id": "0a330500-91d1-4153-871b-3dc27c577dcd",
      "name": "Telegram Trigger",
      "webhookId": "af25cce1-8516-42fe-9e39-6d8ed14656aa",
      "credentials": {
        "telegramApi": {
          "id": "SBLJ1w4tS7pQgHas",
          "name": "KN AIAAKS Video Telegram - 15 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Agent",
        "height": 448,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -112
      ],
      "typeVersion": 1,
      "id": "c09e7363-764d-44a3-936f-f8e6de9700d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\nToday date is : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -16
      ],
      "id": "5abd65ed-62b5-40b5-84ee-d6b452f586be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        160
      ],
      "id": "72591fab-1747-41fd-bfa2-594f36cbc0f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jAWUeFd9ZjEHcCEF",
          "name": "KN Google Gemini(PaLM) - 7 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -16
      ],
      "id": "21cfe1a8-7f71-47e9-9d26-630f7bb500cd",
      "name": "Send a text message",
      "webhookId": "f6b71f5d-4e3c-4a33-bbd7-e6d1f98c2c22",
      "credentials": {
        "telegramApi": {
          "id": "SBLJ1w4tS7pQgHas",
          "name": "KN AIAAKS Video Telegram - 15 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        160
      ],
      "id": "abb52954-424f-4b2a-a5ce-346840f64b66",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 19330363,
          "message": {
            "message_id": 3,
            "from": {
              "id": 1089559488,
              "is_bot": false,
              "first_name": "Kunaal",
              "last_name": "Naik",
              "username": "KunaalNaik",
              "language_code": "en"
            },
            "chat": {
              "id": 1089559488,
              "first_name": "Kunaal",
              "last_name": "Naik",
              "username": "KunaalNaik",
              "type": "private"
            },
            "date": 1768415853,
            "text": "hi"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c12b0d67-1145-41ec-89c1-c2ad385a2204",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "k2WA0Yh8ZY2ydoNC",
  "tags": []
}